// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$color-1: rgba(81,191,3, 1);
$color-2: rgba(2,140,11, 1);
$color-3: rgba(2,114,19, 1);
$color-4: rgba(1,89,23, 1);
$color-5: rgba(13,38,33, 1);
